<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">

    <title>@ViewData["Title"] - ForexGUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForexGUI.styles.css" asp-append-version="true" />
    <link id="pagestyle" rel="stylesheet" href="~/assets/css/soft-ui-dashboard.css?v=1.1.0" rel="stylesheet" />



    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
 
    <!-- CSS Files -->
     
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>



</head>
<body class="g-sidenav-show  bg-gray-100">
 
 
            @RenderBody()



<!-- Core JS Files -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Popper and Bootstrap Core -->
<script src="~/assets/js/core/popper.min.js"></script>
<script src="~/assets/js/core/bootstrap.min.js"></script>

<!-- Scrollbar Plugins -->
<script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>

<!-- ChartJS (if needed) -->
<script src="~/assets/js/plugins/chartjs.min.js"></script>

<!-- Control Center for Soft Dashboard -->
<script src="~/assets/js/soft-ui-dashboard.min.js?v=1.1.0"></script>

<!-- Site specific JS -->
<script src="~/js/site.js" asp-append-version="true"></script>

<!-- Github buttons (optional) -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>



</html>
